[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "gaawr2"]
	path = gaawr2
	url = https://github.com/jinghuazhao/gaawr2
[submodule "gap"]
	path = gap
	url = https://github.com/jinghuazhao/r
	subdir = gap
[submodule "gap.datasets"]
	path = gap.datasets
	url = https://github.com/jinghuazhao/r
	subdir = gap.datasets
[submodule "lmm"]
	path = lmm
	url = https://github.com/jinghuazhao/r
	subdir = lmm
[submodule "pQTLdata"]
	path = pQTLdata
	url = https://github.com/jinghuazhao/pqtldata
[submodule "pan"]
	path = pan
	url = https://github.com/cran/pan
[submodule "tdthap"]
	path = tdthap
	url = https://github.com/jinghuazhao/r
	subdir = tdthap
